.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;   /*Formato cuatro filas*/
    grid-template-columns: 1fr 1fr; /*Formato dos columnas*/
    gap: 20px;  /*Espacio entre filas*/
    place-items: center;
    flex-direction: column;
}

.item {
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    width: 400px;
    height: 200px;
    flex-direction: row;
}