@media (max-width: 2500px) { 

    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 800px;
        height: 600px;
        border-radius: 20px;
        border: 2px black solid;
        padding: 5px;
        background-color: white;
        box-shadow: 5px 5px 15px grey;
    }

    .flexbox h1 {
        margin-top: 0;
        margin-bottom: 100px;
        font-size: 50px;
        width: 85%;
    }

    .flexbox form {
        font-size: larger;
    }

    .flexbox p {
        margin-top: 100px;
        margin-bottom: 0;
        font-size: large;
    }

    .flexbox button {
        margin-top: 40px;
        font-size: large;
    }
}