@media (max-width: 2500px) { 

    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-image: url("../images/login_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
        margin-top: 200px;
        margin-bottom: 50px;
        width: 80%;
        min-height: 90vh;
        border-radius: 20px;
        padding: 40px 60px;
        background-color: white;
    }

    .flexbox h1 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 50px;
        width: 100%;
        text-align: center;
    }

    .flexbox form {
        font-size: larger;
    }

    .flexbox p {
        margin-top: 5px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 30px;
        font-size: larger;
        text-align: center;
    }

    .flexbox button {
        width: 300px;
        height: 50px;
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
        background-color: #44825C;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px grey;
    }
    a {
        text-decoration: none;
        color: white;
    }

    .viajes {
        width: 700px;
        height: 400px;
        border: 2px solid white;
        border-radius: 20px;
        padding: 20px;
        margin: 20px;
        width: 80%;
        text-align: center;
        background-color: E3E3E3;
        margin-bottom: 20px;
    }

}