@media (max-width: 2500px) { 

    * {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #212121;
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 900px;
        height: 950px;
        border-radius: 30px;
        padding: 10px;
        background-color: white;
    }

    .flexbox .titulo {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 60px;
        font-size: 25px;
    }

    .contenedor {
        background-color: #EBEEF0;
        border-radius: 20px;
        border: none;
        width: 700px;
        height: 680px;
    }

    .flexbox .contenedor .upload_button {
        margin-bottom: 20px;
    }

    /*BLOQUE PARA LA PÁGINA DEL LOGIN Y REGISTRO*/
    .contenedor_login {
        background-color: #EBEEF0;
        border-radius: 20px;
        border: none;
        width: 700px;
        height: 400px;
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contenedor_login .usuario input {
        width: 90%;
        height: 40px;
        padding: 5px 10px;
        font-size: 20px;
        margin-top: 20px;
    }

    .contenedor_login .password input {
        width: 90%;
        height: 40px;
        padding: 5px 10px;
        font-size: 20px;
        margin-top: 20px;
    }

    .contenedor_login .usuario label {
        margin-top: 40px;
    }

    .contenedor_login .password label {
        margin-top: 30px;
    }

    .contenedor_login .boton_login {
        width: 500px;
        height: 50px;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: #474C52;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .boton_login:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px grey;
    }

/*BLOQUE DEL USUARIO*/
    .user {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .user p {
        font-size: 20px;
        text-align: left;
    }
    .user input {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }

/*BLOQUE DEL E-MAIL*/
    .mail {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .mail p {
        font-size: 20px;
        text-align: left;
    }
    .mail input {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }

/*BLOQUE DE LA CONTRASEÑA*/
    .contraseña {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .contraseña p {
        font-size: 20px;
        text-align: left;
    }
    .contraseña input {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }

/*BLOQUE DE LA EDAD*/
    .años {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .años p {
        font-size: 20px;
        text-align: left;
    }
    .años input {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }
/*BLOQUE DEL ROL DE USUARIO*/
    .rol {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .rol p {
        font-size: 20px;
        text-align: left;
    }
    .rol select {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }

    .flexbox form {
        font-size: larger;
        margin-bottom: 20px;
    }

    .flexbox p {
        margin-top: 80px;
        font-size: large;
    }

    .flexbox button {
        width: 500px;
        height: 50px;
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 20px;
        background-color: #474C52;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px grey;
    }
    
    .flexbox a {
        text-decoration: none;
        color: white;
    }

    .flexbox a:hover {
        color: mediumslateblue;
    }

    /*BLOQUE DE ESTILOS DE LA PÁGINA DEL LISTADO*/
    .flexbox_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
        margin: 50px auto;
        width: 100%;
        height: auto;
        border-radius: 30px;
        padding: 20px;
        padding-top: 150px;
        padding-bottom: 60px;
        background-color: white;
    }

    .flexbox_list h1 {
        margin: 20px;
        margin-top: 200px;
        font-size: 50px;
        width: 100%;
        height: auto;
        text-align: center;
        color: black;
    }

    .flexbox_list p {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: large;
        height: auto;
        text-align: center;
        color: black;
    }

    .flexbox_list button {
        width: 700px;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 20px;
        background-color: #474C52;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .contenedor_list {
        display: flex;
        /*flex-wrap: wrap;*/
        flex-direction: column;
        align-items: center;
        text-align: center;
        /*gap: 20px; /*espacio entre los cuadros*/
        background-color: #EBEEF0;
        border-radius: 20px;
        border: none;
        width: 70%;
        height: auto;
        padding: 50px;
        margin: 20px;
    }

    .contenedor_list table {
        background-color: white;
        border-radius: 10px;
        border-collapse: collapse;
    }

    .contenedor_list th, td{
        border: 1px solid #C4C4C4;
        border-radius: 10px;
        text-align: center;
        min-width: 80px;
    }
    .contenedor_list .top_table {
        background-color: #EDECEB;
        height: 50px;
        font-size: 20px;
    }

    .contenedor_list .top_table .opciones {
        background-color: #EBEEF0;
        border-radius: 0%;
        border: none;
        padding-left: 20px;
    }

    .flexbox_list .del_button { /*no funciona*/
        width: 100px;
        height: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 30px;
        font-size: 20px;
        background-color: #474C52;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .flexbox_list .enlaces {
        display: flex;
        flex-direction: row;
    }

    .flexbox_list .enlaces a {
        width: 200px;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 20px;
        margin-right: 50px;
        font-size: 20px;
        background-color: #474C52;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .flexbox_list a:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px grey;
    }

    /*BLOQUE DEL ÍNDICE*/
    .flexbox_index {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 1200px;
        height: 950px;
        border-radius: 30px;
        padding: 10px;
        background-color: white;
    }

    .flexbox_index h1 {
        width: 100%;
        margin-top: 20px;
        font-size: 60px;
    }
    
}