@media (max-width: 2500px) { 

    * {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #212121;
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 850px;
        height: 950px;
        border-radius: 20px;
        padding: 5px;
        background-color: white;
    }

    .flexbox h1 {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 50px;
        width: 85%;
        height: 20vh;
    }

    .contenedor {
        background-color: #EBEEF0;
        border-radius: 20px;
        border: none;
        width: 700px;
        height: 680px;
    }
/*BLOQUE DEL USUARIO*/
    .user {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .user p {
        font-size: 20px;
        text-align: left;
    }
    .user input {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }

/*BLOQUE DEL E-MAIL*/
    .mail {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .mail p {
        font-size: 20px;
        text-align: left;
    }
    .mail input {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }

/*BLOQUE DE LA CONTRASEÑA*/
    .contraseña {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .contraseña p {
        font-size: 20px;
        text-align: left;
    }
    .contraseña input {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }

/*BLOQUE DE LA EDAD*/
    .años {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .años p {
        font-size: 20px;
        text-align: left;
    }
    .años input {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }
/*BLOQUE DEL ROL DE USUARIO*/
    .rol {
        width: 500px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .rol p {
        font-size: 20px;
        text-align: left;
    }
    .rol select {
        width: 90%;
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 15px;
    }

    .flexbox form {
        font-size: larger;
    }

    .flexbox p {
        margin-top: 100px;
        margin-bottom: 0;
        font-size: large;
    }

    .flexbox button {
        width: 700px;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 20px;
        background-color: #474C52;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px grey;
    }
    
    a {
        text-decoration: none;
        color: white;
    }

    /*BLOQUE DE ESTILOS DE LA PÁGINA DEL LISTADO*/
    
    .flexbox_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 950px;
        height: 800px;
        border-radius: 20px;
        padding: 5px;
        background-color: white;
    }

    .flexbox_list h1 {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 50px;
        width: 85%;
        height: 20vh;
    }

    .flexbox_list p {
        margin-top: 100px;
        margin-bottom: 0;
        font-size: large;
    }

    .flexbox_list button {
        width: 700px;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 20px;
        background-color: #474C52;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
}