@media (max-width: 2500px) { 

    * {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #E4F0F5;
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 800px;
        height: 600px;
        border-radius: 20px;
        padding: 5px;
        background-image: url("../images/background_flexboxjpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 8px grey;
        transition: all 0.3s ease;
    }

    .flexbox h1 {
        margin-top: 0;
        margin-bottom: 100px;
        font-size: 40px;
        width: 100%;
    }

    .titulo {
        background-color: white;
        border-style: solid;
        border-color: white;
        border-radius: 8px;
        width: 80%;
        height: 70px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .flexbox form {
        font-size: larger;
    }

    .flexbox p {
        margin-top: 100px;
        margin-bottom: 0;
        font-size: large;
    }

    .flexbox button {
        width: 200px;
        height: 50px;
        margin-top: 40px;
        font-size: 20px;
        background-color: #35627A;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 8px  white;
    }

    .flexbox:hover {
        transform: scale(1.05);
    }
}