@media (max-width: 2500px) { 

    * {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #E4F0F5;       
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 80%;
        height: 65%;
        border-radius: 20px;
        padding: 40px 60px;
        background-image: url("../images/background_flexboxjpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 8px grey;
    }

    .flexbox h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 50px;
        width: 100%;
        text-align: center;
    }
    .titulo {
        background-color: white;
        border-style: solid;
        border-color: white;
        border-radius: 8px;
        width: 80%;
        margin-top: 100px;
    }

    .flexbox form {
        font-size: larger;
    }

    .flexbox p {
        margin-top: 50px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
    }

    .flexbox button {
        width: 200px;
        height: 50px;
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
        background-color: #35627A;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 8px white;
    }
    a {
        text-decoration: none;
        color: white;
    }
}